.applogo {
    width: 70px;
}

.navitem {
    font-size: 18px;
}

.navitem:hover {
    color: white;
    /* font-weight: bold; */
}

.active {
    color: white;
    font-weight: bold;
}

.inactive {
    color: #ccc;
}

.navy {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}